<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<br>
<!-- <h2 style="text-align:center">User Profile Card</h2> -->
<br>

<div class="card">
  <img src="./assets/shweta_passport_photo.jpg" alt="Shweta" style="width:100%">
  <h1>Shweta Mhatre</h1>
  <p class="title">M.E. (Computer Engineering) </p>
  <p>Mumbai University</p>
  <div style="margin: 24px 0;">
    <a href="https://mail.google.com/mail/u/1/?ogbl#inbox"><i class="fa fa-google"></i></a>   
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="https://ne-np.facebook.com/people/Shweta-Piyush-Mhatre/100050082879566/"><i class="fa fa-facebook"></i></a> 
  </div>
  <a href="tel:[phone number]"><span class="bottom">Call us now</span></a>
  
</div>
<div class="container">
  <h1>Skills Set</h1>
  <div class="bar learning" data-skill="Angular"></div>
  <div class="bar back basic" data-skill="Python"></div>
  <div class="bar back intermediate" data-skill="Java"></div>
  <div class="bar back intermediate" data-skill="Bootstrap"></div>
  <div class="bar front advanced" data-skill="CSS3"></div>
  <div class="bar front expert" data-skill="HTML5"></div>

</div>
</body>
</html>
